.container{
    height: 0;
  }

  .hamNav{
    height: 0;
    display: none;
  }

@media only screen and (max-width: 1200px) {
  .hamNav{
    display: block;
  }

  .sideNav{
    display: none;
    margin-left: -300px;
  }

  .socialsBarLeft{
    margin-left: -300px;
  }
  header.homeHeader{
    margin-left: -300px;
  }

  .container {
    width: 100%;
    z-index: 10;
    margin-top: -60px;
  }

  .hamburger-lines{
    margin-top: 100px;
    margin-left: 40px;
  }
  .checkbox{
    margin-left: 40px;
  }

  .hamNav a, .dropdownBtn {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }

  a.companyName {
    width: 100%;
    display: block;
    color: dodgerblue;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font: 500 70px/1.3 'Lobster';
    text-shadow: 1.5px 1.5px 0px #333, 6px 6px 0px rgba(0,0,0,0.15);
    }

a.hamNavBtn.active {
 color: dodgerblue;
}

  /* On mouse-over */
  .hamNav a:hover, .dropdownBtn:hover {
    color: dodgerblue;
  }

  /* Coin flip styling */

  .menu-items{
   display: flex;
  }

  .flipField {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .flipField:hover .flipCoin {
    transform: rotateY(180deg);
  }
  .flipField .flipCoin {
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    height: 100%;
    width: 100%;
  }
  .flipField .flipCoin .front, .flipField .flipCoin .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
  }
  .flipField .flipCoin .front {
    transform: translateZ(1px);
  }
  .flipField .flipCoin .back {
    transform: rotateY(180deg);
  }
  .flipField .flipCoin .thumbnail {
    width: 100%;
  }

  .hamNav .hamNav-container li {
    list-style: none;
  }

  .hamNav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .hamNav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 110px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .hamNav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamNav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: dodgerblue;
  }

  .hamNav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 400ms ease-in-out;
  }

  .hamNav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
  }

  .hamNav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 400ms ease-in-out;
  }


  .hamNav .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 80vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    text-align: center;
    background-color: white;
  }

  .hamNav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .hamNav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .hamNav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .hamNav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .hamNav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }


  /* Alignment of home content */
  div.left50{
    padding-left: 0px;
  }
  @media only screen and (max-width: 800px) {
    div.twoSides{
      margin-left: 0px;
      margin-top: -50vh;
      display: block;
      justify-content: center;
    }

    div.left50{
      margin: auto;
      width:100%;
      height: 50%;
      float:center;
      display: flex;
    }

    div.right50{
      margin: auto;
      width:100%;
      height: 100%;
      float:center;
      display: flex;
    }
    
    img.homeImg{
      padding-right: 10vw;
      margin: auto;
    }

    div.welcomeTextBox{
      margin: auto;
    }

  }

  /* About style page content */
  div.main{
      padding:0px;
      margin: 0px;
      margin-top: 150px;
      width: 100%;
  }
  @media only screen and (max-width: 540px) {
    h2{
        max-width: 250px;
    }
  }

  div.aboutSection{
      padding:10%;
      margin:0px;
      width: 80%;
      min-width: 370px;
  }
  div.authorTag{
      margin-top: 50px;
      padding-bottom: 0px;
  }
  div.outercircle{
      width: 80px;
      height:80px;
  }
  div.rightAuthorText{
      margin-left: 0px;
      width:fit-content;
  }

    /* Education page content */
    div.fieldSection{
        padding:10%;
        margin:0px;
        width: 80%;
        min-width: 370px;
    }

      @media only screen and (max-width: 1030px) {
        li.fieldsNavBtn {
            width:40%; 
            padding-left: 5%; 
            padding-right: 5%;
            }

        @media only screen and (max-width: 540px) {
            li.fieldsNavBtn {
                width:80%; 
                padding-left: 10%; 
                padding-right: 10%;
                }
            }
      }


    div.fieldOfFocus{
        margin-left:10%;
        margin-right: 10%;
        width: 80%;
        height:480px;
        }

      /* Projects style page content */
    div.main{
        padding:0px;
        margin: 0px;
        margin-top: 150px;
        width: 100%;
    }
    @media only screen and (max-width: 540px) {
    h2{
        max-width: 250px;
    }
    }

    div.experienceSection{
        padding:10%;
        margin:0px;
        width: 80%;
        min-width: 370px;
    }
    @media only screen and (max-width: 800px) {
        .projectContainer {
            display: grid;
            row-gap: 2%;
            grid-template-columns: 100%;
          }   
        }

    @media only screen and (max-width: 800px) {
        .experienceContainer {
            display: grid;
            row-gap: 12%;
            grid-template-columns: 100%;
            grid-template-rows: 28% 28% 28% ;
            }   
        } 

}
